.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 2rem;
}
button{
  border: 1px solid black;
  padding: 20px;
}

.some{
  height: 100vh;
  width: 100%;
}