.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 5rem;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 8px;
  margin-right: 15px;
  background-color: gainsboro;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
